<!DOCTYPE html>
<html  ng-app="calculatorApp">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>  
<script src="ArithmeticOperation.js"></script>

<title>Calculator</title>
</head>
<body>

<p>This App performs basic Airthmetic operations</p>
<div ng-controller="operations">

<input type="text" id="valueOne" ng-model="valueOne" />  
<input type="text" id="valueTwo" ng-model="valueTwo" /> <br/><br/>
<p>ValueOne: {{valueOne}} <br/>	ValueTwo: {{valueTwo}}</p>
<p>Total value: </p><input type="text" id="res" ng-model="result"><br/
<br/>

 <button type="button" ng-click="Addition(valueOne, valueTwo)">ADD</button>
 <button type="button" ng-click='SUB(valueOne, valueTwo)' >SUB</button>
 <button type="button" ng-click='MUL(valueOne, valueTwo)' >MUL</button>
 <button type="button" ng-click='DIV(valueOne, valueTwo)' >DIV</button>
  <button type="button" ng-click='Perc(valueOne, valueTwo)' >Perc</button>
</div>
</body>
</html>