<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>  
<script src="addition.js"></script>
<script src="subtraction.js"></script>
<script src="multi.js"></script>
<script src="division.js"></script>
<script src="percentile.js"></script>
<title>Calculator</title>
<body>

<p>This porject performs basic Airthmetic operations</p>
<div ng-app="calculatorApp" ng-controller="operations">

<input type="text" id="valueOne" ng-model="valueOne" />  
<input type="text" id="valueTwo" ng-model="valueTwo" /> <br/><br/>

<p>Total value: </p><input type="text" id="res" ng-model="result"><br/
<br/>



 <button type="button" ng-click="Addition(valueOne, valueTwo)">ADD</button>
 <button type="button" ng-click='SUB(valueOne, valueTwo)' >SUB</button>
 <button type="button" ng-click='MUL(valueOne, valueTwo)' >MUL</button>
 <button type="button" ng-click='DIV(valueOne, valueTwo)' >DIV</button>
  <button type="button" ng-click='Perc(valueOne, valueTwo)' >Perc</button>
</div>
</body>
</html>